.dashb{
    display: flex;
    /* flex: 6; */
    /* padding-left: 3rem; */
    
}
.dashb .TopandDown .nav {
    display: flex;
    width: 100%;
}
.dashb .TopandDown .others {
    padding: 4rem;
}

.dashb .common{
    display: flex;
    flex: 1;
}
.dashb .TopandDown{
    display: flex;
    flex: 6;
    flex-direction: column;
}