.table{
    .status{
        padding: 5px;
        border-radius: 5px;

        &.Settled{
            color: green;
            background-color: rgba(0,128,0,0.151);
        }
        &.Unsettled{
            color: goldenrod;
            background-color: rgba(189,189,3,0.103);
        }
    }
}