.list-wrapper{
    display: flex;

    .common{
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100vh;
    }
    .TopandDown{
        display: flex;
        flex-direction: column;
        flex: 6;

        .nav{
            width: 100%;
        }
        .datatable{
            height: 600px;
            padding: 2rem;
            // display: none;
        }
    }
}